/* Projects */
.projects .icon-box {
  margin-bottom: 20px;
}

.projects .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: #149ddd;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #149ddd;
}

.projects .icon i {
  color: #fff;
  font-size: 24px;
}

.projects .icon-box:hover .icon {
  background: #fff;
}

.projects .icon-box:hover .icon i {
  color: #149ddd;
}

.projects .title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.projects .title a {
  color: #343a40;
}

.projects .title a:hover {
  color: #149ddd;
}

.projects .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

/* Sections General */
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}
